@media (max-width: 800px){
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (min-width: 1700px){/*altera a posição X para telas maiores q 1700px*/
    #page-home {
        background-position-x: 35vw;
    }
}

@media (max-height: 760px){ /*Para resoluções menores q 760px a imagem é fixada no eixo Y quase no topo19*/
    #page-home {
        background-position-y: 100px;
    }
}